// importing other Scss files



@import './variables.scss';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    background-color: $body-color2;
    font-family: $font-family2;
}


.formSignup {
    p {
        font-family: $font-family2;
        font-weight: 300;
        font-size: 14px;
    }
}




.formDiv {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;

    label {
        color: $font-color3  !important;
        font-weight: 400;
        margin-bottom: 10px
    }

    ;

    input {
        border-radius: 50px;
        border: 1px solid $font-color2;
        padding: 10px 20px;
        border: 1px solid $font-color3;
        background-color: #010613;
        color: $front-color;
        font-family: $font-color2;

        &::placeholder {
            color: $font-color2;
            font-weight: 300;
            font-family: $font-family2;
        }

        &:focus {
            outline: none;
        }

    }



    button {
        text-transform: capitalize;
        font-family: $font-family2;
        font-style: normal;
        padding: 12px;
        border-radius: 50px;
    }

    .btn1 {
        background-color: $font-color3;
        color: $front-color;
        border: none;
    }

    .btn2 {
        background-color: #010613;
        border: 1px solid $font-color3;
        color: $font-color3;
        transition: 0.3s;

        &:hover {
            background-color: $font-color3;
            color: white;
        }
    }
}





// signup page
.signuPage {
    width: 100%;
    height: 100vh;
    background-color: #030A1D;
    display: flex;
    justify-content: space-between;


    .box {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid white;
        height: 100%;
        position: relative;
        color: $front-color
    }

    ;



    .box1 {
        background-color: #010613;
        position: relative;

        .logoBoxFormPage {
            width: 100px;
            color: white;
            display: flex;
            justify-content: flex-start;
            position: absolute;
            top: 30px;
            left: 30px;


            img {
                width: 100%;
            }
        }

        p {
            color: $font-color2
        }


        .backgroundImg {
            position: absolute;
            bottom: 0%;
            left: 0%;

        }



    }

    ;





    .box2 {
        background-color: #030a1d;
        position: relative;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
        }
    }

}





.formBox {
    z-index: 11;

    h3 {
        font-weight: 400;
        font-family: $font-family2;
    }

    p {
        font-family: $font-family2;
        font-style: normal;
        font-weight: 300;
    }
}








.logoBox {

    img {
        width: 100%;
    }
}

.sideBarBox {
    padding: 20px 25px;
    border-radius: 15px;
    color: white;
    background-color: $boxes-Color;
    margin-top: 20px;

    .sideBarIcon {
        margin-right: 15px;
    }
}


.accordianTitle {
    color: $font-color2;
    font-family: $font-family2;
}




.headerTitle {
    font-family: $font-family2;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 20px !important;
}






.headerSearch {
    position: relative;
    margin-right: 10px;
    width: 300px;

    input {
        width: 100%;
        height: 100%;

        border: none;
        background-color: #202425;
        border-radius: 50px;
        color: white;
        font-family: $font-family2;
        padding: 15px 17px;
        font-size: 14px;

        &::placeholder {
            color: #827d9d;
        }

        &:focus {
            outline: none;
        }
    }

}




.headerIcon {
    width: 50px;
    height: 50px;
    background-color: #202425;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 5px 0px rgba($color: #00A2FD, $alpha: 15%);
    cursor: pointer;
}








.rightSideBarBox {
    background-color: #10151C;
    padding: 20px;
    border-radius: 15px;
    color: white;
    margin-top: 30px;
    font-family: $font-family2;
}




.topCreateBoxItem {
    border-bottom: 1px solid gray;
    padding: 10px 0px;
}




.shoppingCard {
    background-image: url('../imgs/Bg_2.png');
    display: flex;
    flex-direction: column;

}



.mainBody {
    margin-top: 70px;
    margin-right: 25px;
}


.nftCard {
    background-color: $boxes-Color;
    width: 100%;
    border-radius: 16px;

    .nftCardContent {
        padding: 12px;
        color: white;
        font-family: $font-family2;
        padding: 25px 15px;
    }
}





.mainBodySection {
    max-width: 2000px;
    min-width: auto;
    margin: auto;
}














.responsieMenuBtn {
    display: none;
}


.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    position: relative !important;
    background-color: black !important;
}



.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    background-color: $body-color2  !important;
}







.css-18sg6k4-MuiPaper-root-MuiDrawer-paper {
    position: static !important;
    background-color: $body-color2  !important;
    padding: 12px !important;
}


.tagsList{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.layouter{
    max-width: 4000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}







.rightSideBarMenuBtn{
    box-shadow:0px 10px 5px 0px rgb(0 162 253 / 15%)
}





.mainBodyBox{
    padding-left: 12px;
}





// Hero Card
.heroCard{
    background-color: $boxes-Color;
    margin: 0px 10px;
    color: white;
    border-radius: 20px;
    padding: 15px;
    font-family: $font-family2;


    button{
        background-color: $font-color3;
        color: $boxes-Color;
        &:hover{
            background-color: $font-color3;
            color: $boxes-Color;
        }
    }

    .heroCardTitle{
        font-size: 25px;
    }
}















// Responsive for all Devices
@media only screen and (max-width:1100px){
    .tags{
        padding: 5px 5px !important;
        font-size: 10px !important;
    }
}
@media only screen and (max-width:1024px) {

    .responsieMenuBtn {
        display: block;
    }


    .RightSideBar {
        position: absolute;
        top: 0px;
        left: 100%;
        z-index: 111;
        transition: 0.3s;
    }

    .signuPage {
        flex-direction: column;


        .box {
            height: auto !important;
            padding: 50px 12px;
        }

        .box1 {
            width: 100%;



        }

        .box2 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;

            img {
                position: relative;
                top: auto;
                left: auto;
                width: 100%;
                transform: none;

            }
        }
    }

    .css-1160xiw-MuiPaper-root-MuiDrawer-paper{
        background-color: $body-color2  !important;
        padding: 12px !important;
    }

    .mainBodyBox{
        padding: 0px !important;
        
    }
    .mainBodyAndRightSideBar{
        padding-left: 0px !important;
        padding: 25px !important;
    }
}





@media only screen and (max-width:767px) {
    .signuPage {


        .box {
            padding: 80px 12px;


            .logoBoxFormPage {
                top: 20px;
                left: 20px;
            }
        }

    }
}



@media only screen and (max-width:925px){
    .header{
       
        flex-direction: column;

        .headerTitle {
            width: 100%;
            justify-content: space-between;
        }

        .headerSearchAndIcons{
           
            width: 100% !important;
            margin-top: 20px ;
        }

    }
}



@media only screen and (max-width:767px){
    .tagsList{
        display: none;
    }
    
}






@media only screen and (max-width:600px){
    .headerSearchAndIconInnerBox{
        flex-direction: column ;
        // border: 1px solid white;

        .headerSearch{
            width: 100%;
        }

        .headerIconBox{
            margin-top: 20px !important;
            // border: 1px solid white;
            width: 50%;
            justify-content: space-around;
            margin: 0px;

            .headerProfileBox{
                margin-right: auto;
            }
        }


        

    }

    .css-2x207w{
        margin-left: 0px !important;
    }
    .css-t14dqb{
        margin: 0px;
    }
}